.hand {
  background-image: url("../../../Assets/Images/Beige\ Minimalist\ Sustainable\ Organic\ Fashion\ Landing\ Page\ Desktop\ Prototype.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

